.container_custom{
  display: flex;
  width: 100% !important;
  background-color: #28a745;
  border-radius: 7px;
  padding: 30px;
  padding-top: 50px;
  margin: 15px;
  text-align: center;

                                .custom_h1{
                                  line-height: 5px;
                                  font-size: 18px;
                                }
                                .custom_col{
                                  width: 33%;
                                  height: 100%;

                                }

}